<nav role="navigation" id="menu" class="nav-collapse">
	<ul>
   		<li><%= link_to_unless_current "companyia" %></li>
   		<li><%= link_to_unless_current "espectacles" %></li>
   		<li><%= link_to_unless_current "esdeveniments" %></li>
   		<li><%= link_to_unless_current "formacio" %></li>
   		<li><%= link_to_unless_current "premsa" %></li>
   		<li><%= link_to_unless_current "contacte" %></li>
   		<li id="idioma_min"><%= link_to_lang :ca %><%= link_to_lang :es %></li>
	</ul>
</nav>