---
title: Espectacles Planeta Impro
---
<section id="esp">
	<article id="esp_ish">
		<a href="espectacles_improshow.html"><img src="images/espectacles/logo-ish-1x.gif" alt="Impro Show"></a>
		<h2>Impro Show</h2>
		<p><a href="espectacles_improshow.html">Un espectacle fresc, original i 100% interactiu. Els actors surten a escena sense guió i tu decideixes què passarà en un show diferent i únic a cada funció [...]</a></p>
		<div class="accions" data-category="actions">
			<%= partial "layouts/boto-comprar" %>
			<%= partial "layouts/boto-contractar" %> 
		</div>
	</article>
	<article id="esp_if">
		<a href="espectacles_improfighters.html"><img src="images/espectacles/logo-if-1x.jpg" alt="Impro Fighters"></a>
		<h2>Impro-Fighters</h2>
		<p><a href="espectacles_improfighters.html">La lluita per ser el rei de la impro ha començat. Lluitadors que s’enfronten amb l’humor, l’enginy i les frases del públic com a úniques armes. El seu objectiu? Guanyar el vot del públic i ser campions.</a> </p>
		<p><a href="espectacles_improfighters.html">Un show a l’estil dels combats de boxa i amb un àrbitre de luxe: el mític Johnny Bravo. [...]</a></p>
	
		<div class="accions" data-category="actions">
			<%= partial "layouts/boto-comprar" %>
			<%= partial "layouts/boto-contractar" %> 
		</div>
	</article>
	<article id="esp_ihsh">
		<a href="espectacles_improhorrorshow.html"><img src="images/espectacles/logo-ihsh-1x.gif" alt="Impro Horror Show"></a>
		<h2>Impro Horror Show</h2>
		<p><a href="espectacles_improhorrorshow.html">Un espectacle terroríficament divertit! Dedicat al terror, les fòbies, els zombies i els assessins en sèrie. Sempre amb humor i amb les frases del públic per crear les històries més originals amb els protagonistes més monstruosament sorprenents.</a> [...]</p>
		<div class="accions" data-category="actions">
			<%#= partial "layouts/boto-comprar" %>
			<%= partial "layouts/boto-contractar" %>
		</div>
	</article>
	<article id="esp_iscat">
		<a href="espectacles_improshowcat.html"><img src="images/espectacles/logo-iscat-1x.gif" alt="Impro Show .cat"></a>
		<h2>Impro Show .Cat</h2>
		<p><a href="espectacles_improshowcat.html">La cultura i l’actualitat catalanes a escena en to humorístic, en un espectacle diferent a cada sessió gràcies a la participació del públic. [...]</a></p>
		<div class="accions">
			<%#= partial "layouts/boto-comprar" %>
			<%= partial "layouts/boto-contractar" %> 
		</div>
	</article>
</section>
