<header id="home_header">
	<h1 class="logo_home1">
		<a href="index.html"><img src="/images/logo_planeta_impro.png" alt="Logo Planeta Impro"></a>
	</h1>

	<%= partial "layouts/header-social" %>

	<%= partial "layouts/header-nav" %>

	<h1 class="logo_home2">
		<a href="index.html"><img src="/images/logo_planeta_impro.png" alt="Logo Planeta Impro"></a>
	</h1>				
</header>

<%= partial "layouts/header-idioma" %>

<div id="banner">
	<div id="imatges" class="flexslider">
		<ul class="slides">
			<li>
				<a href="espectacles/improshow.html">
					<img src="/images/home/improshow.jpg" alt="Impro Show">
					<p class="slogan"><strong>Impro Show</strong><br>Entre els 10 espectacles més vistos de la temporada 2013-2014 a Barcelona</p>
				</a>
			</li>
			<li>
				<img src="/images/home/improfriends.jpg" alt="Planeta Impro">
				<p class="slogan2">Un desafiament d'espontaneïtat i imaginació</p>
			</li>
			<li>
				<a href="espectacles/improhorrorshow.html">
					<img src="/images/home/improhorrorshow.jpg" alt="Impro Horror Show">
					<p class="slogan3"><strong>Impro Horror Show</strong><br>Passa-ho de por!</p>
				</a>
			</li>
			<li>
				<a href="espectacles/improfighters.html">
					<img src="/images/home/00_impro_Fighters_1x.jpg" alt="Impro Fighters Revolution">
					<p class="slogan4"><strong>Impro Fighters Revolution</strong><br>El millor combat d’improvisació</p>
				</a>
			</li>
			<li>
				<img src="/images/home/harold.jpg" alt="Planeta Impro">
				<p class="slogan4"><strong>Divertim, sorprenem, emocionem</strong></p>
			</li>
		</ul>
	</div>	
</div>
<div id="portada">
	<aside>
		<section id="calendar">
			<div id="eventCalendar"></div>
		</section>
		<a target="blank" href="http://eepurl.com/UyLFv"><section id="boletin">subscriu-te<br> al butlletí de Planeta Impro</section></a>
		<div id="aside_new">
			<img src="/images/news/cadena_ser.png" alt="Cadena Ser">
			<span>Tot és Comèdia </span>(cada diumenge a les 13.40 h)<a href="http://www.cadenaser.com/cultura/audios/planeta-impro-21/csrcsrpor/20140925csrcsrcul_1/Aes/" target="blank">Podcast del programa</a>
		</div>
	</aside>
	<section id="news">
		<div>
			<article>
				<%= image_tag 'news/workshop.jpg', alt: "Workshop improvisació" %>
				<!-- <img src="/images/news/public_impro-fighters-2.jpg" alt="Público Impro Fighters en el Teatreneu"> -->
				<h3>Aprèn a improvisar amb Planeta Impro!</h3>
				<p>Els propers 17, 18, 24 i 25 d'octubre participarem del Workshop d'Improvisació i habilitats per parlar en públic que organitza EVENT MANAGEMENT INSTITUT, dirigit a professionals relacionats amb el sector dels esdeveniments i l’empresa.</p>
				<p>L'objectiu del taller és preparar les intervencions en públic perquè siguin professionals, convincents i fluïdes.  Un workshop de 16 hores lectives perquè disposis de totes les eines necessàries per a pujar a escenari sense por.</p>
				<p>Els divendres 17 i 24 de 16h a 20h i els dissabtes 18 i 25 de 10h a 14h</p>
				<p><a href="http://eventmanagementinstitute.es/cursos-presenciales/299-workshop-de-improvisacion-y-hablidades-para-hablar-en-publico?utm_source=Contactos+Linkedin&utm_campaign=ec1c0e607d-Improvisaci_n_Comunicaci_n_Profesional10_1_2014&utm_medium=email&utm_term=0_a942f4fab3-ec1c0e607d-270701541" target="blank">Consulta tota la informació i inscriu-te!</a></p>
			</article>	
			<article>
				<img src="/images/news/gala-vip-style.jpg" alt="Planeta Impro a la Gala Vip Style">
				<h3>Planeta Impro solidari</h3>
				<p>Al setembre vam participar a la gala de presentació del nou número de VIP STYLE MAGAZINE. Una revista que no només reuneix moda, esdeveniments i oci, sinó que compta amb una plataforma solidària, DO IT FOR THEM, que ajuda a dinamitzar les relacions entre lectors i projectes socials.</p>
				<p>Planeta Impro va voler ser present, de manera solidària, en aquest acte de presentació que recaptava fons per al Casal dels Infants i que es va realitzar al Palau Robert.</p>
				<p>L'esdeveniment va ser apadrinat per, entre d'altres, Ares Teixidó, Mireia Canalda, Felipe López, Octavi Pujades i Vador Lladó.</p>
			</article>
		</div>
		<div>
			<article>
				<img src="/images/news/impro_horror.jpg" alt="Impro Horror Show per Halloween">
				<h3>Per Halloween... a morir-se de riure!</h3>
				<p>Planeta Impro té l'espectacle més mortíferamente divertit per a la nit de Halloween: Impro Horror Show.  Escenes d'intriga, suspens, morts sorprenents i zombies freakys creades en viu i en directe amb les frases del públic!</p>
				<p>Aquest 31 d’octubre pots <a href="http://www.atrapalo.com/entradas/impro-horror-show_e95563/" target="blank">veure'ns a Sabadell</a> i a <a href="https://www.koobin.com/viladecans/index.php?action=PU_evento&idioma=CA&act=true">Viladecans</a>. Vine a passar una nit <strong>terroríficament divertida</strong>!</p>
			</article>
			<article>
				<%= image_tag 'news/esdeveniments_nadal.jpg', alt: "Actuem per a tu per Nadal" %>
				<h3>Per Nadal actuem per a tu!</h3>
				<p>Fes del teu sopar d'empresa una cosa única! Gaudeix d'un espectacle divertit i original, on els protagonistes sou vosaltres!</p>
				<p>Actuem en festes particulars, <a class="popup-youtube" title="Eventos" href="https://www.youtube.com/watch?v=7_iOjbo9dNM">esdeveniments d'empresaa</a>, sopars de Nadal i convencions, amb espectacles totalment personalitzats. Ens ajustem al que necessites perquè la teva festa o reunió sigui única i inoblidable. <a href="contacte.html">Contacta</a> amb nosaltres per a més informació.</p>
			</article>
			
		</div>
	</section>
</div>


<!-- Slide -->
<script>
		$(window).load(function() {
		$('.flexslider').flexslider({
			slideshowSpeed: 5000
		});
		//$('#imatges').flexslider('stop');
		});
</script>


