---
title: Impro Horror Show, Planeta Impro
---
<div id="espectacle">
	<p  class="ruta"><a href="../espectacles.html"><%= t "menu.espectacles" %></a> > Impro Horror Show</p>
	<section id="info">
		<header id="nom_espectacle">
			<h2 class="titol-header">Impro Show</h2>
			<div id="imatges" class="flexslider">
				<ul class="slides">
					<li><img src="/images/improhorror/00_impro_horror_1x.jpg" alt="Escenografia Impro Horror Show"></li>
					<li><img src="/images/improhorror/01_impro_horror_1x.jpg" alt="presentación Impro Horror Show"></li>
					<li><img src="/images/improhorror/02_impro_horror_1x.jpg" alt="Impro Horror Show"></li>
					<li><img src="/images/improhorror/03_impro_horror_1x.jpg" alt="Impro Horror Show"></li>
					<li><img src="/images/improhorror/04_impro_horror_1x.jpg" alt="Impro Horror Show"></li>
					<li><img src="/images/improhorror/05_impro_horror_1x.jpg" alt="Impro Horror Show"></li>
					<li><img src="/images/improhorror/06_impro_horror_1x.jpg" alt="Impro Horror Show"></li>
					<li><img src="/images/improhorror/07_impro_horror_1x.jpg" alt="Impro Horror Show"></li>
					<!-- <li><img src="/images/improhorror/08_impro_horror_1x.jpg"></li> -->
				</ul>
			</div>
		</header>

		<div id="horari">
			<h2 class="titol">Impro Horror Show</h2>
			<!-- <p>Dissabte a les 23.30 h. Teatreneu</p> -->
		</div>
		<div class="accions" data-category="actions">
			<%#= partial "layouts/boto-comprar" %>
			<%= partial "layouts/boto-contractar" %>  
		</div> 
	
		<article id="sinopsi">
			<p>Riure de les pors és la millor teràpia per fer-les desaparèixer... per això a Impro Horror Show descobrireu la part més còmica i sorpresiva dels <strong>suggeriments del públic</strong>.</p>
			<p>Escenes d’intriga, morts sorprenents i zombis freakys posaran a prova la capacitat dels <strong>improvisadors</strong> per transformar les frases del públic en escenes que ens faran recórrer el museu de cera, escoltar psicofonies, conèixer assassins en sèrie, reviure les pors dels campaments d’estiu i descobrir les fòbies més inesperades en una nit <strong>terroríficament divertida</strong>!</p>  
		</article>

		<article id="critica">
			<div>
				<h2>La crítica</h2>
				<blockquote>Una mena de sessió golfa teatral en la que el cinema de terror és el fil conductor d’un espectacle que cada nit és diferent... el resultat és fantàstic! Una sàtira mordaç del cinema d’horrors. El que importa és l’execució, el talent que els actors demostren damunt l’escenari. Una delicia. Una festa! </blockquote> <cite>— GUIA DEL OCIO</cite>
			</div>
			<div>
				<h2 class="titol_secundari">La crítica</h2>
				<blockquote>És boníssim! Els actors en saben molt i tenen moltíssim sentit de l’humor, són ràpids, intel·ligents... És un espectacle proper, t’hi trobes com a casa, disfrutes, rius amb el seu humor gamberro!</blockquote> <cite>— ÀNGEL LLÀCER a CATALUNYA RÀDIO</cite>
			</div>
			
			<div>
				<h2>El públic</h2>
				<blockquote>Molt recomanable. Durant tot l’espectacle es manté el nivell d’enginy i humor. Els quatre actors estan genials. Vam passar una estona molt divertida. Sense cap mena de dubte: repetirem! </blockquote> <cite>— Sílvia</cite>
			</div>	
			<div>
				<h2 class="titol_secundari">El públic</h2>
				<blockquote>Vaig riure com feia anys que no ho feia. De lo millor en teatre! Una experiència recomanable per tots aquells que volen passar una bona estona i trencar amb la monotonia del dia a dia. Fantàstica feina dels actors! Segur que hi tornaré!</blockquote> <cite>— Carlos</cite>
			</div>
			<div>
				<h2 class="titol_secundari">El públic</h2>
				<blockquote>Uns actors impressionants! He vist l’espectacle dos cops i repetiré. No sé com poden fer aquestes improvisacions tan bones! No pots parar de riure!</blockquote> <cite>— Mónica</cite>
			</div>
		</article>	
	</section>

	<aside>
		<div id="cartell">
			<img src="/images/improhorror/cartell_ih.gif" alt="cartel Impro Horror Show">
		</div>
		<article id="fitxa">
			<h3><%= t "fitxa.fitxa" %></h3>
			<ul>
				<li><strong><%= t "fitxa.creacio" %>:</strong> Planeta Impro</li>
				<li><strong><%= t "fitxa.direccio" %>:</strong> Jose L. Adserías i Angel Galán</li>
				<li><strong><%= t "fitxa.actor" %>:</strong> Angel Galán, Franco Andrea Maestrini, Jordi Soriano, Jose L. Adserías, Jose Pérez-Ocaña, Judit Martín, Miquel Simó, Mireia Scatti, Mónica Ballesteros y Sam Gutiérrez</li>
				<li><strong><%= t "fitxa.tecnic" %>:</strong> Sònia Pardo i Sandra de la Prada<li>
				<li><strong><%= t "fitxa.disseny" %>:</strong> Sandra de la Prada</li>
				<li><strong><%= t "fitxa.vestuari" %>:</strong> Marisa Regalado</li>
				<li><strong><%= t "fitxa.escenografia" %>:</strong> Rocío Aroca</li>
				<li><strong><%= t "fitxa.fotografia" %>:</strong> Alejandra Espaliat</li>
			</ul>
		</article>
	</aside>			
</div>

<!-- Slide -->
	<script>
  		$(window).load(function() {
    		$('.flexslider').flexslider({
    			slideshowSpeed: 5000
    		});
    		//$('#imatges').flexslider('stop');
  		});
	</script>