---
title: Impro Fighters Revolution, Planeta Impro
---
<div id="espectacle">
	<p  class="ruta"><a href="../espectacles.html"><%= t "menu.espectacles" %></a> > Impro Fighters</p>
	<section id="info">
		<header id="nom_espectacle">
			<h2 class="titol-header">Impro Fighters Revolution</h2>
			<div id="imatges" class="flexslider">
				<ul class="slides">
					<li><img src="/images/improfighters/01_impro_Fighters_1x.jpg" alt="Presentador Impro Fighters"></li>
					<li><img src="/images/improfighters/02_impro_Fighters_1x.jpg" alt="Combate parejas Impro Fighters"></li>
					<li><img src="/images/improfighters/03_impro_Fighters_1x.jpg" alt="Diabla Sobre Ruedas y Zirconita"></li>
					<li><img src="/images/improfighters/04_impro_Fighters_1x.jpg" alt="Combate parejas Impro Fighters"></li>
					<li><img src="/images/improfighters/05_impro_Fighters_1x.jpg" alt="Combate parejas Impro Fighters"></li>
					<li><img src="/images/improfighters/06_impro_Fighters_1x.jpg" alt="Custodia Compartida y La Niña de Papá"></li>
					<li><img src="/images/improfighters/07_impro_Fighters_1x.jpg" alt="Tetoko Miyagi Impro Fighters"></li>
					<li><img src="/images/improfighters/08_impro_Fighters_1x.jpg" alt="Ganador Impro Fighters"></li>
				</ul>
			</div>
		</header>
						
		<div id="horari">
			<h2 class="titol">Impro Fighters Revolution</h2>
			<p>Divendres a les 23.00 h. Teatreneu</p>
		</div>
		<div class="accions" data-category="actions">
			<%= partial "layouts/boto-comprar" %>
			<%= partial "layouts/boto-contractar" %>  
		</div> 
		
		<article id="sinopsi">
			<p>Planeta Impro fa anys que triomfa amb aquest espectacle a l’estil Pressing Catch que porta als escenaris una <strong>lluita de diversió i enginy</strong>.</p> 
			<p>L’escenari és un ring, els actors son els lluitadors més sonats que et puguis imaginar i la funció, sempre única i diferent, és una suma de combats on l’humor i la improvisació son les úniques armes amb les que deixar k.o. el contrincant.</p>
			<p>El públic proposa els títols i... comença el combat! Després de cada impro, el públic vota el seu lluitador preferit i, al final de la vetllada, es proclama el guanyador! </p>
			<p>Imaginació, espontaneïtat i sobretot molt, molt, molt sentit de l’humor en un espectacle <span class="caracters-especials">«</span>gamberro<span class="caracters-especials">»</span> que té un públic tan fidel que s’han convertit en autèntics fans! </p>
			<p>Ha arribat la <strong>revolució de la impro!</strong> Ha arribat Impro-Fighteeers!!!</p>
		</article>
		<article id="critica">
			<div>
				<h2>La crítica</h2>
				<blockquote>Un espectacle d’improvisació que provoca lluites per aconseguir entrades entre els seus fidels seguidors...! </blockquote> <cite>— TEATRAL.NET</cite>
			</div>
			<div>
				<h2 class="titol_secundari">La crítica</h2>
				<blockquote>Les capacitat d’improvisació dels actors fan d’Impro Fighters un espectacle dinàmic i fresc, amb punts d’humor increïbles de creació immediata...</blockquote> <cite>— L’INDEPENDENT DE GRÀCIA</cite>
			</div>
			<div>
				<h2 class="titol_secundari">La crítica</h2>
				<blockquote>Un espectacle interactiu on el públic no té cap oportunitat d’avorrir-se o pensar en qualsevol aspecte de la vida quotidiana. Per riure del principi al final i deixar-se endur per la singularitat dels seus personatges i les seves increïbles ocurrències.</blockquote> <cite>— PLAY ON BARCELONA</cite>
			</div>
			<div>
				<h2>El públic</h2>
				<blockquote>Increïble com es compenetren els actors. L’agilitat mental i el vocabulari. La capacitat d’improvisació. La sorpresa. La idea de crear una obra i que cada funció sigui nova!</blockquote> <cite>— Aitor</cite>
			</div>	
			<div>
				<h2 class="titol_secundari">El públic</h2>
				<blockquote>No vaig poder parar de riure i de meravellar-me amb la capacitat d’improvisació dels actors. Impressionant! Repetirem segur! </blockquote> <cite>— Alexia</cite>
			</div>
			<div>
				<h2 class="titol_secundari">El públic</h2>
				<blockquote>JJAJAJAJAJAJAJA...... JAJAJAJA... jajajaja... jojojojo... jijijiji... jujujuju... jejejejejeje... jajajajajajajaja... jejejejejeje... jojojojojojojoj... jujujujujuju... jejejejejeje... jajajajajaja... jojojojojojojo... jajajajaja... jejejejeje... jijijijiji........ i així tota l’estona</blockquote> <cite>— Carmentxu</cite>
			</div>
		</article>					
	</section>

	<aside>
		<div id="cartell">
			<img src="/images/improfighters/cartell_if.jpg" alt="Cartel Impro Fighters">
		</div>
		<article id="fitxa">
			<h3><%= t "fitxa.fitxa" %></h3>
			<ul>
				<li><strong><%= t "fitxa.direccio" %>:</strong> Jose L. Adserías i Angel Galán</li>
				<li><strong><%= t "fitxa.produccio" %>:</strong> Planeta Impro</li>
				<li><strong><%= t "fitxa.presentador" %>:</strong> Jordi Soriano</li>
				<li><strong><%= t "fitxa.lluitador" %>:</strong> Alba Florejachs, Angel Galán, Beatriu Castelló, Jose Pérez-Ocaña, Judit Martín, Miquel Simó, Mónica Ballesteros y Sam Gutiérrez</li>				
				<li><strong><%= t "fitxa.tecnic" %>:</strong> Sònia Pardo i Sandra de la Prada<li>
				<li><strong><%= t "fitxa.disseny" %>:</strong> Sandra de la Prada</li>
				<li><strong><%= t "fitxa.vestuari" %>:</strong> Marisa Regalado</li>
				<li><strong><%= t "fitxa.escenografia" %>:</strong> Furti Corominas</li>
				<li><strong><%= t "fitxa.fotografia" %>:</strong> Alejandra Espaliat Planas</li>
			</ul>
		</article>

		<div id="video">
			<a href="http://www.youtube.com/watch?v=8C4duvRWJjo" class="popup-youtube"><img src="/images/improfighters/vp_impro_fighters_1x.jpg" alt="Impro Fighters"></a>
		</div>
	</aside>			
</div>

<!-- Slide -->
<script>
 	$(window).load(function() {
   	$('.flexslider').flexslider({
   		slideshowSpeed: 5000
   	});
   	//$('#imatges').flexslider('stop');
 	});
</script>

